<div>
	<%= form_tag do |f| %>
	<div>
		<p>What do you want to learn?</p>
	</div>
 	 <%= text_field_tag :teacher_type %>
 	 <p> Where do you live?</p>
 	 <%= text_field_tag :location %>
	<div class="search_button" id="teacher">
			<%= link_to "Find a teacher", "#", class: "btn btn-large btn-primary" %>
	</div>
	<% end %>
</div>