<div class="about_banner">
	<%= image_tag "welcome_slider_demo.jpg", alt: "Slider Demo" %>
</div>
<div id="welcome_signup_buttons">
	<table width="100%">
		<tr align="center">
			<td>
				<div>
					I'd like to <strong>learn</strong> something.
				</div>
				<div class="signup_button" id="student">
					<%= link_to "STUDENT Sign Up", signup_path, class: "btn btn-large btn-primary" %>
				</div>
			</td>
			<td>
				<div>
					I can <strong>teach</strong> you something.
				</div>
				<div class="signup_button" id="teacher">					
					<%= link_to "TEACHER Sign Up", signup_path, class: "btn btn-large btn-primary" %>
				</div>
			</td>
		</tr>
			</table>
</div>
	