<div align="center">
	<h1>Congratulations, you've booked your class!</h1>
	<h3>Golf Class with instructor John Smith</h3>
	<table>
		<tr>
			<td>Date:</td>
			<td>Jun 29, 2012</td>
		</tr>
		<tr>
			<td>Time:</td>
			<td>9am - 12pm</td>
		</tr>
		<tr>
			<td>Location:</td>
			<td>Farmington Driving Range<br />2321 Towncrest Road<br />San Jose, CA 95035</br><%= link_to "(Show on map)", "#" %></td>
		</tr>		
		<tr>
			<td>Total Cost:</td>
			<td>$120<br />
				<em>(Note: This is a shared class. If more students join, the price will go down, and we will charge you for the lower price.</em></td>
		</tr>
	</table>  
	<h3>Send me a reminder</h3> 

</div>