<div class="row">
	<div class="span12">
		<div class="hero-unit">
  			<h1>Thanks for trying the Inaika demo!</h1>  				
  				<p>As you can see, we still have quite a lot of work to do.</p>
  				<p>But did you like it? Have comments or suggestions? Click the Feedback button!</p>

		</div>
		<!--<%= image_tag "welcome_slider_demo.jpg", alt: "Slider Demo" %>-->
	</div>
</div>
	