
<div id="content">	
	<div id="top">
		<div class="span12">
			<h1>What are your thoughts?</h1>
		</div>
	</div>
	
	<div id="feedback">
		<div class="span12">
		  <div class="control-group">
            <label class="control-label" for="Name">Your name?</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="name">
              <p class="help-block"></p>
            </div>

             <label class="control-label" for="Email">Your email?</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="email">
              <p class="help-block"></p>
            </div>

            <label class="control-label" for="Feedback">Your comments?</label>
            <div class="controls">
              <textarea class="input-xlarge" id="feedback" rows="10"></textarea>
            </div>
          </div>
          <%= link_to "Submit Feedback", "#", class: "btn btn-large btn-primary" %>
      </div>
	</div>
</div>
	