<div>
        <h3>Payment Info</h3>
            <div class="control-group">
            <label class="control-label">Select Payment Option:</label>
            <div class="controls">
              <label class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="card1" checked>
                VISA credit card ending in 9876
              </label>
              <label class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="paypal">
                Paypal
              </label>
              <label class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="newcard">
                Add new card
              </label>
            </div>
          </div>
          <h3>Cancellation Policy</h3>
          <p><strong>Yes! You can cancel this class and receive a full refund</strong>, any time up to 48 hours before the class date. You can also reschedule the class for a different date. This cancellation policy is decided by your teacher, not Inaika.</p>
          <%= link_to "Book this class!", "confirmation", class: "btn btn-large btn-primary" %>        
  </div>