<h1>This is how a shared class works.</h1>

<div bg-color="333333">
 <h3>You have selected a class with John Smith :</h3>
        <p>Type: <button class="btn btn-warning">Shared Class</button>
        <p>Current Class Size: <strong>3/10 people</strong></p>
        <p>Minimum Required for class: <strong> 2 people</strong></p>  
        <p>Current Cost: <strong>$120 per person</strong></p>
        <p>- If 2 more people sign up, the cost will come down to: <strong>$90 per person</strong></p>
        <p>- If 7 more people sign up, the cost will come down to: <strong>$50 per person</strong></p>
        <p>Invite your friends! Share this link: <em>http://www.inaika.com/demo/johns_golf_class</em></p>
    </div>