<h3>Your Address</h3>
<p>1234 Main Street, Milpitas, CA, USA.</p>
<%= link_to "Edit", "#" %>

<h3>Payment Options</h3>

<p>You have the following credit cards saved.</p>
<p>VISA card ending in 9504</p>
<p>Mastercard card ending in 6011</p>

<%= link_to "Add a new card", "#" %>
