<h3>Your Address</h3>
<%= link_to "Edit", "#" %>

<p>1234 Main Street, Milpitas, CA, USA.</p>

<h3>Payment Options</h3>
<%= link_to "Edit", "#" %>
<p>You have the following credit cards saved.</p>
<p>VISA card ending in 9504</p>
<p>Mastercard card ending in 6011</p>

<p>Add a new card</p>