
<div id="content">	
	<div id="top">
		<div class="span12">
			<h1>You're looking for students?</h1>

		<!--
		<div class="row">	
			<div class="span6">
				<%= radio_button_tag(:user_type_student, "student") %> 
				I'm a <strong>student</strong>.<br />
				<em>I am looking for a teacher.</em>
			</div>
			<div class="span6">
				<%= radio_button_tag(:user_type_student, "teacher") %>
				I'm a <strong>teacher</strong>.<br />
				<em>I am looking for people to teach.</em>
			</div>
		</div>
	-->
	</div>
	<div id="facebook_signup">
		<div class="row">
			<div class="span12">
				<%= link_to image_tag("facebook_signup.png", alt: "Facebook Signup"), "demo/teacher_profile" %>
			</div>
		</div>
		<div class="row" id="why_facebook">
			<div class="span12">
				<h2>Why do we use Facebook?</h2>				
				<ul>
					<li>Facebook rocks.</li>
					<li>Facebook rocks.</li>
					<li>Facebook rocks.</li>
				</ul>
				<h2>Is my information safe?</h2>
				<p>Of course not! We're going to sell it for money just like Facebook already does!</p>
			</div>			
		</div>
	</div>
</div>
	