<% provide(:page_name, 'welcome') %>
<div class="row">
	<div class="span12">
		<br />
		<div class="hero-unit">
  			<h1 class="center" >Welcome to Inaika!</h1>
  				<h5>- the online platform that lets you find the teachers your friends have tried and loved</h5>
  				<br />
  				<p>This is a simple demo we've created to showcase some of Inaika's functionality. We're currently developing a working prototype and hope to have it ready for you soon. If you have any suggestions for us at this time, just click on the red "Feedback" button.</p>
  				<p>Otherwise, feel free to begin exploring Inaika!</p>


		</div>

			<div class="row">		
				<div class="span6" align="center">
					I'd like to <strong>learn</strong> something
					<%= link_to "STUDENT Sign Up", student_signup_demo_path, class: "btn btn-large btn-primary" %>				
				</div>
				<div class="span6" align="center">
					I'd like to <strong>teach</strong> something
					<%= link_to "TEACHER Sign Up", "#{}", class: "btn btn-large btn-primary" %>
				</div>
			</div>
	</div>
</div>
	