<div class="row">
	<div class="span12">
		<div class="hero-unit">
  			<h1>Welcome to Inaika!</h1>
  				<h2>- the online platform that lets you find the teachers your friends have tried and loved.</h2>
  				<p>This is a simple demo we've created to showcase some of Inaika's functionality. We're currently developing a working prototype and hope to have it ready for you soon. If you have any suggestions for us at this time, just click the red "Feedback" button below.</p>
  				<p>Otherwise, feel free to begin exploring Inaika!</p>


		</div>
		<!--<%= image_tag "welcome_slider_demo.jpg", alt: "Slider Demo" %>-->
		<div class="row">
			<div class="span6" align="center">
				
				<%= link_to "STUDENT Sign Up", student_signup_demo_path, class: "btn btn-large btn-primary" %><br />
				<!--I'd like to <strong>learn</strong> something.-->
			</div>
			<div class="span6" align="center">
				I'd like to <strong>teach</strong> something.<br />
				<%= link_to "TEACHER Sign Up", "#{}", class: "btn btn-large btn-primary" %>
			</div>
		</div>
	</div>
</div>
	