<h2>Terms & Conditions</h2>
<br />
<ul>
	<li>Only entries submitted from a YouTube or Vimeo platform will be eligible for consideration. YouTube or Vimeo URL links can be submitted through our online entry form. To sign up for an account on YouTube, please visit http://www.youtube.com/create_account.</li>
	<li>Video entries should be two (2) minutes in duration.</li>
	<li>Video submissions should be original and unpublished work by the contestant.</li>
	<li>The submitted video should address the following topic: "Feel my passion”</li>
	<li>Submitted videos must be recorded in English. If submitted in any other language, English subtitles must be included. Please see http://www.youtube.com/t/captions_about for simple instructions on how to create closed captioned subtitles for YouTube videos.</li>
	<li>The country and age of the contestant must be clearly indicated in the YouTube or Vimeo user profile to be eligible for consideration.</li>
	<li>Video submissions may not contain any offensive or inappropriate content and must comply with YouTube’s or Vimeo’s general terms and conditions.</li>
	<li>Submissions will end on August 5, 2012 at 11:59 p.m. GMT. Any entry submitted after this time will not be accepted. Any video modified after the end of the contest will not be eligible.</li>
	<li>The winning videos will be announced via email on August 19, 2012. The winning videos will be announced and included in the final video put together by our film professionals and posted on the official Inaika website: www.inaika.com</li>
	<li>Inaika reserves the right to modify contest rules at any time.</li>
</ul>
<br />	

<h2>Disclaimer</h2>
<br />
<div id="disclaimer">
<p>
By submitting a video submission to the competition I accept the full terms and conditions contained herein. I have read and understood the rules of the competition and confirm that the video content I am submitting is my own unpublished work. By submitting my video, I hereby grant Inaika full permission to freely use my video submission as appropriate, including cross-posting on other YouTube & media channels, Inaika website and by Inaika partners.
</p>
<p>
Should my video be chosen as a finalist or winning entry, I agree to surrender the rights to distribute my work to Inaika. Inaika will have the right to freely use the material. I agree not to enter into any third-party agreements without the knowledge and agreement of Inaika, during, upon and after completion of the contest. Any agreements or arrangements for distribution and/or publication of the winning entries conducted without the knowledge and prior consent by Inaika may result in disqualification and forfeiting of any benefits offered by the competition.
At the time of entry, entrants are deemed to have read, understood and be in agreement with all rules and conditions. The organizer reserves the right to rule on any issue(s) not covered by these rules and disclaimers. In the event that an entrant should disagree with any decision made by the organizer, that entrant will have the right to withdraw his or her entry. All related expenses incurred shall be borne solely by the entrant.
</p>
<p>
In the event that the efficiency, security, selection procedure, fairness of the contest or any related operations are deemed to have been compromised by forces beyond the control of the organizer – such as but not limited to troubles relating to computer networks, computer virus infections or unauthorized computer access – then the receipt of some or all entries via the Internet may be postponed or discontinued.
</p>
<p>
Entrants are entirely responsible for all entry-related costs, including but not limited to purchase or renting of equipment, use of computer systems, transmission fees, etc. The organizer is not responsible for any damage or loss that may occur during the sending of entries via the Internet. The organizer is not responsible for any problems or damages experienced by the entrant due to forces beyond the control of the organizer, such as but not limited to troubles relating to computer networks, computer virus infections or unauthorized computer access.
</p>
<p>
Except in proven cases of malice or gross negligence, the organizer is not responsible for any unfortunate or unwelcome occurrences and/or damages that may befall entrants as a result of entry to the contest.
</p>
<p>
Entrants must possess the exclusive rights to each entered work and are responsible for having obtained any necessary permission relating to the subject/subject matter. The organizer will not be responsible for any claims or complaints against infringement of rights or damages from third parties relating to the subject/subject matter of entries, and the entrant agrees to indemnify and hold the organizer harmless in such cases.
</p>
<p>
A video which displays an identified or identifiable person may infringe on such person’s right of privacy or may disclose such person’s personal information. Entrants shall use due care to avoid any infringement of personal rights including but not limited to obtaining necessary permission from such person.
These terms and conditions are subject to change.
</p>
</div>

<br />
<div><%= link_to "Return", "/" %></div>