<h2>Frequently Asked Questions</h2>
<h3>Q: When is the deadline?</h3>
<p>A: Sunday, August 5, 2012 (11:59pm GMT).</p>
 
<h3>Q: Is there an entry fee?</h3>
<p>A: No.</p>
 
<h3>Q: What kind of videos are you looking for?</h3>
<p>A: The video must be around 2 minutes in length and must follow the theme: "Share your passion with the world". You must possess necessary permissions for all the material used in the video (video footage, still photographs, music, etc). Only works not already published may be submitted and you must possess all copyrights of your images. Video submissions may not contain any offensive or inappropriate content.</p>
 
<h3>Q: What should I do if I submitted the wrong information or have more questions?</h3>
<p>A: You can send queries or updated information to: revolution@inaika.com</p>

<h3>Q: How do I submit my video?</h3>
<p>A: Just grab your camera and record a 2 minute clip of you doing something you love. Upload it onto Youtube or Vimeo website and send us the link – simple as that. You can sign up for an account on YouTube <%= link_to "here", "http://www.youtube.com/create_account" %>.</p>

<h3>Q: Is this competition only for young people?</h3>
<p>A: Absolutely not.  Everyone is welcome to apply, no matter if you are 13 or 93. However, if you are under 18 you need your parents’ consent to submit the video.</p>

<h3>Q: How many winners are there?</h3>
<p>A: We will be inviting 3 winners to a professional filming at our studios in either London or Warsaw.</p>

<h3>Q: When will I know the results?</h3>
<p>A: If your video is selected we will be in touch with you personally as soon as we go through all the videos. Additionally, the list of the winners will be published on the Inaika website by the end of August. All participants will be notified of their results..</p>

<h3>Q: How will you use my video?</h3>
<p>A: Our mission is to promote amazing passionate people to inspire others. If you are one of them and your video is selected, it will be put together with other selected videos and placed on Inaika’s website as well as promoted in the media. We want to create a contagious revolution to inspire others to follow their passion, learn, share and become who they dream to be. Join us and be part of it!</p>

<h3>Q: Where can I view the terms & conditions?</h3>
<p>A: <%= link_to "Here", "/landing_page/conditions" %>.</p>