<h2>Frequently Asked Questions</h2>
<h3>Q: How do I submit my video?</h3>
<p>A: Just grab your camera and record a 2 minute clip of you doing something you love. Upload it onto Youtube or Vimeo and send us the link – simple as that.</p>
 
<h3>Q: Is it only for young people?</h3>
<p>A: Absolutely not. Everyone is welcome to apply, no matter if you are 13 or 93.</p>
 
<h3>Q: How will you use my video?</h3>
<p>A: Our mission is to promote amazing passionate people to inspire others. If you are one of them and your video is selected, it will be put together with other selected fantastic videos and placed on INAIKA’s website as well as promoted in media. We want to create a contagious revolution to inspire others to follow their passion, learn, share and become who they dreamt to be.</p>
 
<h3>Q: When will I know the results?</h3>
<p>A: If your video is selected we will be in touch with you personally as soon as we go through all the videos. Additionally, the list of the winners will be published on the INAIKA website by the end of September.</p>