<div class="landing-container">
  <div class="signup-content">
    <%= image_tag "logos/inaika_logo4.png", id: "logo" %>
    <h2>Passion. Energy.<br />Become who you want to be.</h2>
    <hr />
    <div class="content-box">
      <h2>THANK YOU!</h2>
      <p>Your video submission for the INAIKA - PASSION REVOLUTION contest has been received!</p>
      <p>We will notify winners after August 5th, 2012.</p>      
    </div>

    <hr />

    &copy; inaika.com     
  </div>

  <br class="clear" />
</div>