
/* calendar */
ol.calendar {
  width:52em;
  margin:0 auto;
  display:block;
  min-height: 200px;
  background-color: blue;
  padding: 12px 0 0 20px;
}

li    {
 
}

p.link  {
  text-align:center;
  display: block;
}

/*
 * Day styles
 -------------------------*/
li li   {
  width:6em;
  height:6em;
  float:left;
  margin:.2em;
  padding:.2em;
  overflow:auto;
  background: url(images/day-bg.png) bottom right no-repeat;
}

/*
 * Holiday class
 -------------------------*/
li li.holiday    {  }

/*
 * Inactive months
 -------------------------*/
li#lastmonth li,
li#nextmonth li    { background: url(images/day-bg-inactive.png);}