@import "bootstrap";

html,body{  
  padding: 0;
  height:100%;
  width:100%;   
}

body {
  
}

.landing-container {  
  background: url('youth.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;  
  width: 100%;
  min-height: 100%;
  text-align: center; 
  padding-top:30px;
  padding-bottom: 20px;
}

.landing-content {   
  margin-bottom: 100px;
  box-shadow: 0px 0px 10px #666;
  margin-left: auto;
  margin-right: auto;

  padding: 50px;
  padding-top:30px;
  width: 600px;
  background: url('grey09.png');
  text-align: center;
  border-radius: 20px;  
  font-family: Verdana;
}

.landing-main {
  text-align: center;
}

#landing-logo {
  max-width: 90%;
}

#landing-slogan {
  max-width:90%;
  margin-bottom: 10px;
}

.landing-content  h2{
  color: white;    
  font-size: 1.8em;
}

.landing-content  h3{
  color: white;  
  font-family: Verdana;
  font-size: 1.0em;
}

.landing-content h4 {
  color: white;      
  font-size: 1.2em;
  padding:9px;
}

.landing-content  h5{
  color: white;
  font-weight: bold;
  font-size: 3.0em;
}

.landing-content  h6{
  color: white;
  text-transform: none;    
  font-weight: normal;
  font-size: 1.7em;
  line-height: 1.4em;
}

.landing-content h7 {
  color: white;      
  font-size: 1.8em;
  font-family: Verdana;
  line-height: 1.9em;  
}

.question {
  padding:7px;
}
#contact_link {
  color: white;
}

.landing-content a {
  color: lightblue;
}
  

.landing-content hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both; height: 0;
}

.landing-content input[type=text] {
  height: 25px;
}

#errorExplanation h2{
  color: red;
}

#errorExplanation ul {
  list-style-type: none;
  color: red;
  margin:0;
  margin-bottom: 10px;  
  padding:0;
  font-weight: bold;
  text-align: center;
}

.landing-content p {
  font-family: 'Verdana';
  font-size: 1.0em;
}

.alignLeft {
  float: left;
}

.alignRight {
  float: right;
}

ul {
  text-align: left;
}

#disclaimer, #faq {
  text-align: justify;
}

.fb-like {
  margin: 0;
  padding: 0;
  color: black;
  display:inline;
  float:margin-right;
}

.slide {
  display: none;
}

#slide0 {
  display: inline;
}