/*@import "bootstrap";*/

html,body{  
  padding: 0;
  height:100%;
  width:100%;   
}

body {
  
}

.landing-container {
  margin-top: 25px;
  margin-bottom: 25px;
  background: url('youth.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;  
  width: 100%;
  min-height: 100%;
  text-align: center;  
}

.landing-content {
  position: relative;
  top: 30px;
  margin-bottom: 100px;
  box-shadow: 0px 0px 10px #666;
  margin-left: auto;
  margin-right: auto;

  padding: 50px;
  width: 600px;
  background: url('grey09.png');
  text-align: center;
  border-radius: 20px;  
  font-family: Verdana;
}

#landing-logo {
  max-width: 100%;
}

.landing-content  h2{
  color: white;    
  font-size: 1.8em;
}

.landing-content  h3{
  color: white;  
  font-family: Verdana;
  font-size: 1.0em;
}

.landing-content h4 {
  color: white;    
  
  font-size: 1.2em; 
}


#contact_link {
  color: white;
}

.landing-content a {
  color: lightblue;
}
  

.landing-content hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both; height: 0;
}

.landing-content input[type=text] {
  height: 25px;
}

#errorExplanation h2{
  color: red;
}

#errorExplanation ul {
  list-style-type: none;
  color: red;
  margin:0;
  margin-bottom: 10px;  
  padding:0;
  font-weight: bold;
  text-align: center;
}

.landing-content p {
  font-family: 'Verdana';
}

.alignLeft {
  float: left;
}

.alignRight {
  float: right;
}

ul {
  text-align: left;
}

#disclaimer, #faq {
  text-align: justify;
}

.fb-like {
  margin: 0;
  padding: 0;
  color: black;
  display:inline;
  float:margin-right;
}